@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@font-face {
  font-family: 'MilkandClay';
  src: url('./fonts/MilkandClay-Regular.otf');
}
@font-face {
  font-family: 'Dreaming';
  src: url('./fonts/DreamingOutloudScript-Slanted.woff2');
}

body{
  background-color: #f4f1ed;
}

.outfit{
    font-family: "Outfit", sans-serif;
}
.mac{
    font-family: "MilkandClay", sans-serif;
}
.dreaming{
    font-family: "Dreaming", sans-serif;
}
