@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'MilkandClay';
  src: url('./fonts/MilkandClay-Regular.otf');
}
@font-face {
  font-family: 'Dreaming';
  src: url('./fonts/DreamingOutloudSans-CapsSlanted.woff2');
}
@font-face {
  font-family: 'OpenSauceBold';
  src: url('./fonts/OpenSauceOne-Bold.ttf');
}
@font-face {
  font-family: 'OpenSauceMedium';
  src: url('./fonts/OpenSauceOne-Medium.ttf');
}
@font-face {
  font-family: 'OpenSauceRegular';
  src: url('./fonts/OpenSauceOne-Regular.ttf');
}
@font-face {
  font-family: 'OpenSauceSemiBold';
  src: url('./fonts/OpenSauceOne-SemiBold.ttf');
}

body{
  background-color: #f4f1ed;
}

.outfit{
    font-family: "Outfit", sans-serif;
}
.mac{
    font-family: "MilkandClay", sans-serif;
}
.dreaming{
    font-family: "Dreaming", sans-serif;
}
.openSauceBold{
  font-family: "OpenSauceBold";
}
.openSauceMedium{
  font-family: "OpenSauceMedium";
}
.openSauceRegular{
  font-family: "OpenSauceRegular";
}
.openSauceSemiBold{
  font-family: "OpenSauceSemiBold";
}

@keyframes slideDown {
  0% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  20% {
    transform: translate(-50%, 20px);
    opacity: 1;
  }
  80% {
    transform: translate(-50%, 20px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
}

.animate-slideDown {
  animation: slideDown 6s ease-in-out forwards;
}

